---
---


	* {
				box-sizing: border-box;
			}
			
			body {
				background: #F4F4F4;
				margin: 0px;
				display: flex;
				align-items: center;
				flex-direction: column;
			}
			
			header {
				width: 100%;
				height: 226px;
				background-image: linear-gradient(135deg, #FFAE00 0%, #FF3136 72%, #FF004C 100%);
				background-repeat: no-repeat;
				background-position: center center;
				display: flex;
				align-content: center;
				justify-content: center;
				padding: 50px;
				position: relative;

				@media (min-width:768px) {
					height: 523px;
				}

				@media (min-width:1023px) and (min-height: 1100px) {
					height: 665px;
				}

				@media (min-width:1365px) and (min-height: 1100px) {
					height: 725px;
				}
							
			}
			
			.logo {
				max-width: 80%;
			}
			
			.swoosh {
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
				height: 40px;
			}
			
			section {
				z-index: 2;
				position: relative;
				width: auto;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-top: -50px;
			}
			
			section div {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			footer {
				background: #2F2725;
				width: 100%;
				padding: 20px;
				flex: 1;
			}
			
			footer p {
				color: white;
				text-align: center;
				font-size: 22px;
				font-family: helvetica, arial, sans-serif;
			}
			
			footer a {
				color: #FE832F;
				text-decoration: none;
			}
			
			h1 {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 36px;
				color: #FF9E2A;
				margin: 0px;
			}
			
			h2 {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 20px;
				color: #665B49;
				font-weight: normal;
				margin: 0px;
				text-align: center;
			}
			
			.scales-link {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 17px;
				color: #FFFFFF;
				background: #FF9E2A;
				border-radius: 100px;
				padding: 15px 50px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 40px;
				transition: 0.2s ease background;
			}
			
			.scales-link:hover {
				background: #FFBF01;
				transition: 0.5s ease background;
			}
			
			.screenshot {
				display: none;
			}
			
			@media (max-width:1022px) {
				.screenshot {
					max-width: 100%;
				}
				
				section div {
					padding: 40px;
				}
				
				section div img {
					max-width: 50%;
				}
			}
			
			@media (min-width:768px) {				
				br {
					display: none;
				}
			}
			
			@media (min-width:1023px) {

				section {
					flex-direction: row;
					margin-top: -100px;
					align-items: flex-start;
				}
				
				section div {
					margin-top: 100px;
				}
				
				.screenshot {
					max-width: 50%;
				}
								
				h1 {
					font-size: 74px;
				}
				
				h2 {
					font-size: 26px;
				}
				
				.scales-link {
					font-size: 27px;
				}
				
				.screenshot {
					display: block;
				}
			}
			
			@media (min-width:1365px) {				
				section div {
					margin-top: 200px;
				}
			}