* {
				box-sizing: border-box;
			}
			
			body {
				background: #ECEBEB;
				margin: 0px;
			}
			
			footer {
				background: #E1E1E1;
				width: 100%;
				height: 110px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			footer:hover {
				background-image: linear-gradient(135deg, #FFAE00 0%, #FF3136 72%, #FF004C 100%);
			}
			
			footer:hover .toast path {
				fill: white;
			}
			
			.toast {
				width: 150px;
			}
			
			section {
				display: flex;
				flex-direction: column;
				max-width: 1440px;
				margin: 20px auto 0px auto;
			}
			
			.screenshot {
				width: 100%;
			}
			
			.grid {
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;
			}
			
			.grid div {
				width: calc(50% - 20px);
				display: flex;
				align-items: center;
				flex-direction: column;
				margin: 0px 10px 30px 10px;
			}
			
			.icon {
				width: 60%;
			}
			
			.promo {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0px 30px;
			}
			
			.appicon {
				width: 50%;
			}
			
			h1 {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 36px;
				color: #FF9E2A;
				margin: 0px;
			}
			
			h2 {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 20px;
				color: #665B49;
				font-weight: normal;
				margin: 0px;
				text-align: center;
			}
			
			h3 {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 12px;
				color: #665B49;
				font-weight: 600;
				text-align: center;
			}
			
			.metalink {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 15px;
				color: #665B49;
				font-weight: normal;
				margin: 10px;
			}
			
			.scales-link {
				font-family: -apple-system, Helvetica, Arial, sans-serif;
				font-size: 17px;
				color: #FFFFFF;
				background: #FF9E2A;
				border-radius: 100px;
				padding: 15px 50px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 40px;
				transition: 0.2s ease background;
			}
			
			.scales-link:hover {
				background: #FFBF01;
				transition: 0.5s ease background;
			}	
			
			@media (min-width:768px) {
				.appicon {
					width: auto;
				}
				
				.grid div {
					width: 25%;
					margin: 0px 0px 30px 0px;
				}
				
				h1 {
					font-size: 74px;
				}
				
				h2 {
					font-size: 26px;
				}
				
				.scales-link {
					font-size: 27px;
				}
				
				.screenshot {
					width: 50%;
					display: block;
					margin: 0px auto;
				}
			}
						
			@media (min-width:1366px) {
				section {
					flex-direction: row;
					margin: 50px auto 0px auto;
				}
				
				.screenshot {
					width: auto;
					align-self: flex-end
				}
				
				.appicon {
					width: auto;
				}
								
				h3 {
					font-size: 23px;
				}
				
				.grid div {
					width: 50%;
					margin: 0px 0px 90px 0px;
				}
				
				.icon {
					width: auto;
				}
				
				footer {
					height: 200px;
				}
				
				.toast {
					width: auto;
				}
			}