---
---

@import url("../circular.css");

/* SHARED ACROSS ALL PAGES */

:root {
	--background: white;
	--main: black;
	--tint: red;
	--font-body: 'Circular Std Book', helvetica, arial, sans-serif;
	--font-header: 'Circular Std', helvetica, arial, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 20px;
	background: var(--background);
}
	
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
	
	img {
		margin-bottom: 20px;
	}
	
	h1, h2 {
		text-align: center;
	}
	
	div {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
		margin: 20px 0px;
	}
	
	.cta {
		font-family: var(--font-header);
		font-size: 17px;
		color: var(--background);
		background: var(--tint);
		border-radius: 100px;
		padding: 15px 50px;
		text-decoration: none;
		margin: 10px 0px;
		transition: 0.2s ease opacity;
		opacity: 1;
		width: 100%;
		text-align: center;
	}
	
	.cta:hover {
		opacity: 0.8;
		transition: 0.5s ease opacity;
	}
	
	@media (min-width: 768px) {
		div {
			flex-direction: row;
		}
		
		.cta {
			font-size: 27px;
			width: auto;
			margin: 0px 10px;
		}
		
		header {
			padding: 40px 0px;
		}
	}
}

.featuregrid {
	grid-gap: 40px;
	
	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 40px;
	}
	
	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

	svg {
		margin: 0px auto 0px auto;
		display: block;
	}
	
	section {
		padding: 0px;
		display: grid;
		grid-template-columns: 70px 1fr;
		align-items: center;
		grid-gap: 10px;
		
		@media (min-width: 768px) {
			display: block;
		}
	}
	
	h3 {
		color: var(--main);
		font-size: 28px;
	}
	
	@media (min-width: 768px) {
		h3 {
			text-align: center;
		}
	
		p {
			text-align: center;
		}
	}
	
	img {
		grid-column: 1/-1;
	}
	
	.promoimage {
		@media (max-width: 767px) {
			order: -1;
		}
		
		max-width: 100%;
		display: block;
		margin: 0px auto;
	}
}

h1 {
	color: var(--main);
	font-family: var(--font-header);
	font-size: 50px;
	margin: 0px;
	
	@media (min-width: 1200px) {
		font-size: 70px;
	}
}

h2 {
	color: var(--main);
	font-family: var(--font-body);
	font-size: 20px;
	margin: 0px;
	font-weight: 100;
	
	@media (min-width: 1200px) {
		font-size: 24px;
	}
}

h3 {
	color: var(--tint);
	font-family: var(--font-header);
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	@media (min-width: 1200px) {
		font-size: 50px;
		margin-bottom: 5px;
	}
}

h4 {
	color: var(--tint);
	opacity: 0.6;
	font-family: var(--font-body);
	font-size: 16px;
	font-weight: 100;
	margin: 0px;
	
	@media (min-width: 1200px) {
		font-size: 22px;
	}
}

p {
	color: var(--main);
	opacity: 0.6;
	font-family: var(--font-body);
	font-size: 16px;
	font-weight: 100;
	margin: 0px;
}


#legal {
	color: var(--main);
	font-family: var(--font-body);
	font-size: 12px;
	text-align: center;
	font-weight: 100;
	margin-top: 40px;
}

#support {
	font-family: var(--font-body);
	font-weight: 100;
	font-size: 15px;
	
	a {
		color: var(--main);
		margin: 0px 10px;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	@media (max-width: 320px) {
		span {
			display: none;
		}
	}
}

.glyph {
	fill: var(--main);
}

.videoWrapper {
	position: relative;
	padding-bottom: 71.85%;
	height: 0;
	grid-column: 1/-1;
	
	&::before {
		content: "";
		background-image: url(typedex/images/mask.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 1208px;
		height: 100%;
		z-index: 2;
		position: absolute;
		max-width: 100%;
	}
	
	iframe, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(0.936) translateX(3.5%) translateY(3.5%);
		transform-origin: top left;
	}
	
	@media (max-width: 767px) {
		order: -1;
	}
}

main {
	display: grid;
	grid-gap: 20px;
	width: 100%;
	
	section {
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		padding: 20px;
		
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
			border-radius: 10px;
			z-index: 2;
			pointer-events: none;
		}
	}
	
	&.dark-background section::before {
		box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
	}
	
	&.light-background section::before {
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
	}
	
	@media (min-width: 768px) {
		max-width: 1200px;
		margin: 0px auto;
		grid-gap: 20px;
		
		&.dark-background section {
			box-shadow: 0px 2px 24px rgba(0,0,0,0.5);
		}
		
		&.light-background section {
			box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
		}
	}
	
	@media (min-width: 1200px) {
		grid-gap: 40px;
		
		 section {
			 padding: 45px;
		 }
	}
}

aside {
	@media (min-width: 768px) {
		max-width: 80%;
	}
	
	@media (min-width: 1200px) {
		max-width: 100%;
	}
}

footer {
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.toast {
		width: 213px;
		height: 93px;
		transform: scale(0.7);
		transition: background 0.2s ease;
	}
	
	.toast:hover {
		transition: background 0.5s ease;
	}
	
	@media (min-width: 768px) {
		height: 200px;
		
		.toast {
			transform: scale(1);
		}
	}
}

.centered-vertical {
	display: flex;
	justify-content: center;
	align-items: center;
}

.centered-horizontal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* PAGE SPECIFIC */

.toast-page {
	--background: #F4F4F4;
	--main: white;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px;
	
	header {
		width: 100%;
		background-image: linear-gradient(135deg, #FFAE00 0%, #FF3136 72%, #FF004C 100%);
		background-repeat: no-repeat;
		background-position: center center;
		padding: 40px 20px 20px;
		position: relative;
		
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		
		@media (min-width: 768px) {
			height: 430px;
			padding: 70px;
		}
	}
	
	nav {
		p {
			font-family: 'Circular Std Book', helvetica, arial, sans-serif;
			font-weight: 100;
			color: white;
		
			a {
				text-decoration: underline;
				color: white;
			}
		}
	}
	
	.logo {
		width: 200px;
		max-width: 100%; 
		
		@media (min-width: 768px) {
			width: 400px;
		}
	}
	
	.icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		
		@media (min-width: 768px) {
			display: none;
		}
	}
	
	.promo {
		display: none;
		
		@media (min-width: 768px) {
			display: block;
		}
	}
	
	main {
		margin-top: 10px;
		margin-bottom: 40px;
		grid-gap: 10px;
		grid-auto-columns: 1fr;
		grid-template-rows: repeat(4, 240px);
		padding-left: 10px;
		padding-right: 10px;
		grid-template-areas: "lifecast" "simplescales" "typedex" "linkbadges";
		
		section {
			transition: transform 0.2s ease;
			padding: 0px;
			
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
			}
			
			&:hover {
				transform: scale(1.03);
				transition: transform 0.5s ease;
			}
			
			aside {
				text-align: center;
			}
			
			&:hover {
				cursor: hand;
			}
			
			@media (min-width: 768px) {
				a {
					padding: 0px;
				}
			}
		}
		
		@media (max-width: 767px) {
			section {
				box-shadow: none;
			}
		}
		
		@media (min-width: 768px) {
			transform: translateY(-70px);
			padding-left: 40px;
			padding-right: 40px;
			grid-gap: 20px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 330px 330px 430px;
			grid-template-areas: "lifecast lifecast" "simplescales simplescales" "typedex linkbadges";
		}
		
		@media (min-width: 1340px) {
			padding: 0px;
			grid-template-rows: 430px 430px 650px;
			grid-gap: 40px;
		}
	}
	
	a {
		text-decoration: none;
	}
	
	h2 {
		font-family: 'Circular Std', helvetica, arial, sans-serif;
		font-size: 30px;
		margin: 0px;
	}
	
	h3 {
		font-family: 'Circular Std Book', helvetica, arial, sans-serif;
		font-weight: 100;
		font-size: 18px;
		margin: 0px;
	}
	
	#lifecast {
		grid-area: lifecast;
		background-color: #0D1526;
		
		h3 {
			color: white;
			opacity: 0.5;
		}
		
		@media (min-width: 768px) {
			background-image: url(../images/toast/promo-lifecast.jpg);
			background-size: cover;
			background-position: right;
			
			h2 {
				font-size: 50px;
			}
			
			h3 {
				font-size: 24px;
			}
			
			aside {
				width: 223px;
				position: absolute;
				bottom: 50px;
				right: 90px;
			}
		}
		
		@media (min-width: 1340px) {
			aside {
				width: 465px;
				right: 50px;
			}
			
			h2 {
				font-size: 70px;
			}
			
			h3 {
				font-size: 30px;
			}
		}
	}
		
	#simplescales {
		background-image: url(../images/toast/promo-simplescales-phone.jpg);
		background-size: cover;
		background-position: right;
		grid-area: simplescales;
		background-color: #ECEBEB;
		
		h2 {
			color: #665B49;
		}
		
		h3 {
			color: #665B49;
			opacity: 0.5;
		}
			
		@media (min-width: 768px) {
			background: url(../images/toast/promo-simplescales-tablet.jpg);
			background-size: cover;
			background-position: right;
			background-color: #ECEBEB;
			
			h2 {
				font-size: 50px;
			}
			
			h3 {
				font-size: 24px;
			}
			
			aside {
				width: 333px;
				position: absolute;
				bottom: 50px;
				left: 50px;
			}
		}
		
		@media (min-width: 1024px) {
			background: url(../images/toast/promo-simplescales.jpg);
			background-size: cover;
			background-position: right;
			background-color: #ECEBEB;
			
			aside {
				bottom: 90px;
				left: 90px;
			}
		}
		
		@media (min-width: 1340px) {
			background: url(../images/toast/promo-simplescales.jpg);
			background-size: cover;
			background-position: right;
			background-color: #ECEBEB;
			
			h2 {
				font-size: 70px;
			}
			
			h3 {
				font-size: 30px;
			}
			
			aside {
				bottom: 110px;
				left: 90px;
				width: 453px;
			}
		}
	}
	
	#typedex {
		grid-area: typedex;
		background: #1a1a1a;
		
		h2 {
			color: white;
		}
		
		h3 {
			color: white;
			opacity: 0.5;
		}
		
		@media (min-width: 768px) {
			background: #74CEC0;
			
			h2 {
				font-size: 40px;
			}
			
			h3 {
				font-size: 18px;
			}
			
			div {
				display: flex;
				justify-content: center;
			}
			
			aside {
				position: absolute;
				bottom: 20px;
				width: 380px;
				max-width: 90%;
			}
			
			.promo {
				align-self: center;
				position: absolute;
				top: 20px;
				width: 460px;
			}
		}
		
		@media (min-width: 1340px) {
			h2 {
				font-size: 50px;
			}
			
			h3 {
				font-size: 24px;
			}
			
			aside {
				bottom: 40px;
			}
			
			.promo {
				width: 637px;
				top: 60px;
			}
		}
	}
	
	#linkbadges {
		grid-area: linkbadges;
		background: white;
		
		h2 {
			color: #91DE5A;
		}
		
		h3 {
			color: #90928E;
		}
		
		@media (min-width: 768px) {
			h2 {
				font-size: 40px;
			}
			
			h3 {
				font-size: 18px;
			}
			
			div {
				display: flex;
				justify-content: center;
			}
			
			aside {
				position: absolute;
				bottom: 20px;
				width: 380px;
				max-width: 90%;
			}
			
			.promo {
				align-self: center;
				position: absolute;
				top: 20px;
				width: 330px;
			}
		}
		
		@media (min-width: 1340px) {
			h2 {
				font-size: 50px;
			}
			
			h3 {
				font-size: 24px;
			}
			
			aside {
				bottom: 40px;
			}
			
			.promo {
				width: 540px;
			}
		}
	}
}

.simplescales-page {
	--background: #ECEBEB;
	--main: #665B49;
	--tint: #FF9E2A;
	--font-body: -apple-system, helvetica, arial, sans-serif;
	--font-header: -apple-system, helvetica, arial, sans-serif;
			
	h3, .cta {
		font-weight: bold;
	}
		
	h2, h4, p, #support {
		font-weight: normal;
	}
	
	footer {
		.toast {
			background: url(/simple-scales/images/toast.svg);
		}
		
		.toast:hover {
			background: url(/simple-scales/images/toast-active.svg);
		}
	}
		
	main {
		grid-template-rows: 450px 320px 400px 320px;
		grid-template-areas: "phone" "healthkit" "watch" "support";
		
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 330px);
			grid-template-areas: "phone healthkit" "phone watch" "support watch";
		}
		
		@media (min-width: 1200px) {
			grid-template-rows: repeat(3, 420px);
		}
	}
	
	#phone {
		grid-area: phone;
		background: url(simple-scales/images/wood.jpg);
		background-size: cover;
		background-position: top right;
		
		h3, h4 {
			color: var(--main);
		}
		
		img {
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			max-width: 90%;
			display: block;
		}
		
		aside {
			text-align: center;
		}
		
		@media (min-width: 415px) {
			img {
				max-width: 40%;
			}
		}
		
		@media (min-width: 768px) {
			img {
				top: inherit;
				bottom: -70px;
				right: -160px;
				position: absolute;
				margin: 0px;
				max-width: inherit;
			}
			
			aside {
				text-align: left;
				width: 75%;
				margin-top: 40px;
			}
		}
		
		@media (min-width: 1200px) {
			img {
				bottom: 30px;
			}
		}
	}
	
	#healthkit {
		grid-area: healthkit;
		background: white;
		
		h3, h4 {
			color: #7C7C7C;
		}
		
		aside {
			text-align: center;
		}
		
		img {
			margin-bottom: 30px;
		}
	}
	
	#watch {
		grid-area: watch;
		background: black;
		
		h3, h4 {
			color: white;
		}
		
		aside {
			text-align: center;
		}
		
		img {
			margin-bottom: 30px;
			max-width: 40%;
			
			@media (min-width: 415px) {
				max-width: 30%;
			}
			
			@media (min-width: 768px) {
				max-width: 70%;
			}
			
			@media (min-width: 1200px) {
				max-width: 100%;
			}
		}
	}
	
	#completesupport {
		grid-area: support;
		background: url(simple-scales/images/support.jpg);
		background-size: cover;
		background-position: center bottom;
		
		h3, h4 {
			color: #09435A;
		}
		
		aside {
			text-align: center;
		}
	}
}

.linkbadges-page {
	--background: #FBFBFB;
	--main: #90928E;
	--tint: #91DE5A;
	--font-body: -apple-system, helvetica, arial, sans-serif;
	--font-header: -apple-system, helvetica, arial, sans-serif;
	
	h3, .cta {
		font-weight: bold;
	}
		
	h2, h4, p, #support {
		font-weight: normal;
	}
	
	footer {
		.toast {
			background: url(/link-badges/images/toast.svg);
		}
		
		.toast:hover {
			background: url(/link-badges/images/toast-active.svg);
		}
	}
	
	main {
		grid-template-rows: auto 250px 320px;
		grid-template-areas: "chat" "facetime" "stickers";
		
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 330px);
			grid-template-areas: "chat stickers" "chat facetime";
		}
		
		@media (min-width: 1200px) {
			grid-template-rows: repeat(2, 420px);
		}
	}
	
	#chat {
		grid-area: chat;
		background: white;
		padding: 20px;
		
		div {
			margin-bottom: 25px;
			width: 100%;
		}
		
		div:nth-child(odd) {
			display: flex;
			justify-content: flex-end;
		}
		
		div:last-child {
			margin-bottom: 0px;
		}
		
		img {
			max-width: 100%;
			align-self: center
		}
		
		@media (min-width: 768px) {
			img {
				max-width: 52%;
			}
		}
		
		@media (min-width: 1200px) {
			img {
				max-width: 100%;
			}
		}
	}
	
	#stickers {
		grid-area: stickers;
		background: url(/link-badges/images/stickers.png);
		background-size: cover;
		background-position: center center;
		
		h3 {
			color: rgba(0,0,0,0.8);
		}
		
		aside {
			background: #E5E6E9;
			width: 100%;
			max-width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
			text-align: center;
			padding: 20px;
		}
		
		@media (min-width: 1200px) {
			aside h3 {
				font-size: 40px;
			}
		}
	}
	
	#facetime {
		grid-area: facetime;
		background-image: linear-gradient(-179deg, #84FA6E 2%, #16D223 100%);
		
		h3 {
			color: white;
		}
		
		h4 {
			color: white;
			opacity: 0.8;
		}
		
		aside {
			text-align: center;
		}
		
		img {
			margin-bottom: 20px;
			max-width: 40%;
		}
		
		@media (min-width: 1200px) {
			img {
				max-width: 100%;
			}
		}
	}
}

.typedex-page {
	background-image: url(typedex/images/header.png);
	background-repeat: no-repeat;
	background-size: contain;
	--background: #EFEFEF;
	--main: #585858;
	--tint: #0091FF;
	
	@media (prefers-color-scheme: dark) {
		--background: #222222;
		--main: white;
		--tint: #6BD7FF;
	}
	
	@media (min-width: 768px) {
		#legal {
			margin-top: 10px;
		}
	}
	
	footer {
		.toast {
			background: url(/typedex/images/toast.svg);
		}
		
		.toast:hover {
			background: url(/typedex/images/toast-active.svg);
			
			@media (prefers-color-scheme: dark) {
				background: url(/typedex/images/toast-active-dark.svg);
			}
		}
	}
					
	&.privacy-page {
		p {
			opacity: 1;
		}
	}
}

.lifecast-page {
	background-image: url(lifecast/images/header.png);
	background-repeat: no-repeat;
	background-size: contain;
	--background: #FFFFFF;
	--main: #0D1526;
	--tint: #fe9a48;
	--font-body: 'Work Sans', helvetica, arial, sans-serif;
	--font-header: 'Work Sans', helvetica, arial, sans-serif;
	
	@media (prefers-color-scheme: dark) {
		--background: #0D1526;
		--main: #FFFFFF;
		--tint: #ffe758;
	}
	
	h3 {
		@media (min-width: 1200px) {
			font-size: 35px;
		}
	}
	
	h4 {
		@media (min-width: 1200px) {
			font-size: 20px;
		}
	}
	
	br {
		@media (min-width: 414px) {
			display: none;
		}
	}
	
	.cta {
		font-weight: 700;
	}
	
	footer {
		.toast {
			background: url(/lifecast/images/toast.svg);
			
			@media (prefers-color-scheme: dark) {
				background: url(/lifecast/images/toast-dark.svg);
			}
		}
		
		.toast:hover {
			background: url(/lifecast/images/toast-active.svg);
			
			@media (prefers-color-scheme: dark) {
				background: url(/lifecast/images/toast-active-dark.svg);
			}
		}
	}
}

.privacy-page {
	background-image: none;
	
	section {
		max-width: 650px;
		margin: 0px auto;
		padding: 20px 20px 60px 20px;
		flex-direction: column;
		display: block;
	}
	
	h1 {
		font-family: var(--font-header);
		font-size: 36px;
		margin: 0px;
		text-align: left;
		opacity: 1;
	}
	
	h1 + p {
		margin-top: 5px;
		margin-bottom: 0px;
	}
	
	h2 {
		font-family: var(--font-header);
		font-size: 20px;
		color: var(--main);
		margin-top: 40px;
		text-align: left;
		opacity: 1;
		font-weight: bold;
	}
	
	ul {
		padding-left: 18px;
	}
	
	p, li {
		font-family: var(--font-body);
		font-weight: 100 !important;
		font-size: 16px;
		color: var(--main);
		line-height: 24px;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	
	li {
		margin-bottom: 0px;
	}
	
	a {
		color: var(--tint);
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	.logo {
		fill: var(--main);
		transform: scale(0.7);
		transform-origin: top left;
		margin-top: 30px;
		margin-bottom: 30px;
		opacity: 0.5;
		transition: opacity 0.2s ease;
		display: block;
		
		&:hover {
			opacity: 1;
			transition: opacity 0.5s ease;
		}		
	}
}
