/* DEFAULT AND CUSTOM ACCENTS */
	[data-accent="default"] { 
		--accentPrime: light-dark(
					oklch(78% 0.199 66.2),
					oklch(from oklch(78% 0.199 66.2) calc(l + 0.1) c h)
		);
		--accent: var(--accentPrime);
		
		&[data-contrast="more"] {
			--accent: light-dark(
						oklch(from var(--accentPrime) calc(l - 0.3) c h),
						oklch(from var(--accentPrime) calc(l + 0.2) c h)
			);
		}
	}
	
	[data-accent="custom"] { 
		--accentPrime: light-dark(
					oklch(51.7% 0.281 300.6),
					oklch(from oklch(51.7% 0.281 300.6) calc(l + 0.1) c h)
		);
		--accent: var(--accentPrime);
		
		&[data-contrast="more"] {
			--accent: light-dark(
						oklch(from var(--accentPrime) calc(l - 0.2) c h),
						oklch(from var(--accentPrime) calc(l + 0.2) c h)
			);
		}
	}
	

/* CUSTOM THEME */
	[data-theme="custom"] {
		--main: light-dark(
					oklch(38.3% 0.025 78), 
					oklch(62.4% 0.04 235.7)
				);
		--destructive: oklch(56.2% 0.243 23.7);
		--positive: oklch(67.4% 0.177 170.6);
		--background: light-dark(
						oklch(91.1% 0.016 81.5), 
						oklch(26.5% 0.033 252.2)
					);
		--foreground: light-dark(
						oklch(89.1% 0.021 79.8), 
						oklch(22.7% 0.027 263.7)
					);
		--divider: light-dark(
						oklch(82.9% 0.014 76.2), 
						oklch(36.3% 0.029 260.7)
					);
		--systempanel: light-dark(
						white, 
						oklch(41.8% 0 0)
					);
		
		&[data-accent="default"], 
		& [data-accent="default"] {
			--accentPrime: light-dark(
						oklch(60.7% 0.249 33.4), 
						oklch(84.3% 0.192 203.2)
					);
		}
	}

#containerWelcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#explainer {
	padding: var(--base-gap-size);
	width: 100%;
	height: calc(100% - var(--toolbar-height));
	top: var(--toolbar-height);
	overflow: auto;
	position: absolute;
}

@media (width >= 1200px) {
	#explainer {
		padding: calc(var(--base-gap-size) * 2) calc(var(--base-gap-size) * 3);
	}
}

@media (width >= 1800px) {
	#explainer {
		padding: calc(var(--base-gap-size) * 2) calc(var(--base-gap-size) * 15);
	}
}

#exampleSidebar1, #exampleSidebar2, #exampleItemList1, #exampleTabBar1, #exampleTabBar2, #accent1, #accent2, #appearance1, #appearance2, #appearance3, #appearance4, #exampleToolbar2, #exampleToolbar3, #exampleToolbar4, #exampleColumns1, #exampleTableview1, #scrollview1, #exampleBlankState {
	height: 500px;
	position: relative;
	overflow: hidden;
}

/* #exampleTabBar2 {
	background: url(images/ui/materials-background.jpg);
	background-size: cover;
} */

#exampleTableview1, #exampleTableview2, #exampleTableview1 {
	overflow: auto;
}

#legendToolbars {
	padding: 0px;
	
	& li {
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: calc(var(--base-gap-size) / 2);
		align-items: center;
		padding-block: calc(var(--base-gap-size) / 4);
	}
}

.exampleToolbar {
	height: 200px;
	position: relative;
	overflow: hidden;
	
	& .wrapperToolbarStart {
		background: rgb(255 0 0 / .1);
		border: 1px solid rgb(255 0 0 / .2);
	}
	
	& .wrapperToolbarMiddle {
		background: rgb(255 165 0 / .1);
		border: 1px solid rgb(255 165 0 / .2);
	}
	
	& .wrapperToolbarEnd {
		background: rgb(237 130 237 / .1);
		border: 1px solid rgb(237 130 237 / .2);
	}
}

#exampleToolbars .containerAccessoryBar {
	background: rgba(0, 130, 123, 0.1);
	border: 1px solid rgba(0, 130, 123, 0.2);
}

#accentContent1, #accentContent2, #appearance1, #appearance2, #appearance3, #appearance4  {
	padding: var(--base-gap-size);
}

#accent2 {
	--accent: 43,182,220;
}

.appearanceContent {
	width: 100%;
	height: calc(100% - var(--toolbar-height) - var(--tabbar-height));
	top: var(--toolbar-height);
	position: absolute;
	padding: var(--base-gap-size);
}

#headerContent2, #headerContent3 {
	width: 100%;
	height: calc(100% - var(--toolbar-height));
	top: var(--toolbar-height);
	left: 0px;
	position: absolute;
	overflow: auto;
}

.headerContent4 {
	width: 100%;
	height: calc(100% - var(--toolbar-height));
	left: 0px;
	position: absolute;
	overflow: auto;
	border: 1px solid red;
}

.groupText {
	padding: var(--base-gap-size);
	
	& img {
		width: 100%;
		margin-block-end: var(--base-gap-size);
	}
}

@media (width < 1200px) {
	#explainer .columnSecondary button.back {
		display: inline-flex;
	}
}

#exampleToolbar1 button.back {
	display: inline-flex;
}

#exampleNoToolbarSheet .spacerSingle {
	width: 100%;
	height: 40%;
	background: url(images/ui/image.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: var(--base-gap-size);
	flex-direction: column;
	gap: calc(var(--base-gap-size) / 2);
	position: relative;
}

#exampleNoToolbarSheet h1 {
	margin: 0px;
	padding: 0px;
	color: white;
	text-shadow: 2px 5px 10px oklch(0 0 0 / .3);
}

#exampleNoToolbarSheet p {
	padding: 0px var(--base-gap-size);
}

#scrollview1 .groupText {
	padding: var(--base-gap-size);
}

#exampleIcons {
	display: flex;
	justify-content: space-around;
}

#exampleIcons span {
	display: flex;
	gap: calc(var(--base-gap-size) / 2);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--main);
	font-family: var(--font-regular);
	font-size: var(--base-font-size);
	text-align: center;
}

#exampleIcons span:not(.useInitialFill) path {
	fill: var(--main);
}

[data-setting="context9"] button {
	width: 250px;
}

#iconGallery {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
	grid-template-rows: repeat(auto-fill,minmax(120px,1fr));
	gap: var(--base-gap-size);
	align-items: flex-start;
}

.noResults #iconGallery div {
	background: none !important;
	border: none !important;
	height: 100% !important;
	justify-content: center;
}

#iconGallery div {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	gap: calc(var(--base-gap-size) / 2);
	margin-block-end: calc(var(--base-gap-size) / 2);
	color: var(--main);
	font-family: var(--font-regular);
	font-size: var(--base-font-size);
	background: var(--foreground);
	border-radius: var(--base-radius-size);
	padding: var(--base-gap-size) calc(var(--base-gap-size) / 2);
	height: 120px;
}

[data-os="macos"] #iconGallery div {
	background: oklch(from var(--main) l c h / .01);
	border: 1px solid oklch(from var(--main) l c h / .1);
}

[data-os="android"] #iconGallery div {
	background: oklch(from var(--accent) l c h / .1);
}

[data-os="windows"] #iconGallery div {
	background: oklch(from var(--systempanel) l c h / .1);
	box-shadow: 0px 0px 0px 1px oklch(from var(--main) l c h / .1);
}

#iconGallery div:hover {
	background: oklch(from var(--main) l c h / .1);
	cursor: pointer;
}

[data-os="android"] #iconGallery div:hover {
	background: oklch(from var(--accent) l c h / .4);
}

#iconGallery div span {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

#iconGallery .iconPlatter {
	border-radius: var(--base-radius-size);
	width: calc(var(--base-font-size) * 3);
	height: calc(var(--base-font-size) * 3);
	min-width: calc(var(--base-font-size) * 3);
	min-height: calc(var(--base-font-size) * 3);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}
	
#iconGallery .iconPlatter svg {
	width: calc(var(--base-font-size) * 3);
	height: calc(var(--base-font-size) * 3);
}

#iconGallery .iconPlatter:not(.useInitialFill) path {
	fill: var(--main);
}

#toastCrafted {
	width: 100%;
	display: flex;
	justify-content: center;
}

#toastCrafted svg {
	width: 150px;
	height: 70px;
}

#toastCrafted svg path {
	fill: oklch(from var(--main) l c h / .2);
}

#gridWelcome {
	display: grid;
	gap: var(--base-gap-size);
	margin-block-end: calc(var(--base-gap-size) * 4);
}

@media (width >= 1100px) {
	#gridWelcome {
		grid-template-columns: 1fr 1fr;
	}
}

#exampleAccordion2 {
	overflow: hidden;
}

#exampleSpinner {
	width: 100px;
	height: 100px;
	position: relative;
	border-radius: var(--base-radius-size);
	border: 1px solid var(--divider);
}

#gridColours {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
	gap: var(--base-gap-size);
}

#gridColours .tile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: calc(var(--base-gap-size) / 2);
	text-align: center;
	background: var(--foreground);
	padding: var(--base-gap-size);
	border-radius: var(--base-radius-size);
}

[data-os="macos"] #gridColours .tile {
	background: oklch(from var(--main) l c h / .01);
	border: 1px solid oklch(from var(--main) l c h / .1);
}

[data-os="android"] #gridColours .tile {
	background: oklch(from var(--accent) l c h / .1);
}

[data-os="windows"] #gridColours .tile {
	background: oklch(from var(--systempanel) l c h / .1);
	box-shadow: 0px 0px 0px 1px oklch(from var(--main) l c h / .1);
}

#gridColours .label {
	font-family: var(--font-regular);
	font-size: var(--base-font-size);
	color: var(--main);
	text-align: center;
}

.tableGuideIcons tr {
	grid-template-columns: 1fr calc(var(--base-font-size) * 12);
}

[data-setting="examplePopover"] .containerPopoverContent {
	padding: var(--base-gap-size);
}

[data-setting="examplePopover"] .contextContainerMenu {
	min-width: 300px;
}

@media (width >= 1200px) {
	#exampleChartPie #containerFruit,
	#exampleChartPie #containerVotes {
		display: grid;
		grid-template-columns: 250px 1fr;
		gap: calc(var(--base-gap-size) * 2);
	}
}

#containerFruit tr {
	grid-template-columns: 3fr 1fr 1fr;
}

#containerVotes tr {
	grid-template-columns: 3fr 1fr;
}

.definitions td:first-child {
	display: flex !important;
	flex-direction: column;
}

#icons.definitions svg {
	width: calc(var(--base-font-size) * 2);
	height: calc(var(--base-font-size) * 2);
}

@media (width >= 800px) {
	.definitions tr {
		grid-template-columns: 200px 1fr;
	}
	
	#config.definitions tr {
		grid-template-columns: 250px 1fr;
	}
	
	#effects.definitions tr {
		grid-template-columns: 300px 1fr;
	}
	
	#breakpoints.definitions tr {
		grid-template-columns: 120px 1fr;
	}
	
	#buttons.definitions tr {
		grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr;
	}
	
	#icons.definitions tr {
		grid-template-columns: calc(var(--base-font-size) * 2) 150px 1fr;
		gap: var(--base-gap-size);
	}
}

.examples tr {
	grid-template-columns: 1fr auto;
	align-items: center;
}

.definitions td {
	display: block;
}

#exampleChartGantt {
	overflow: auto;
	border: 1px solid var(--divider);
}

#filestructure {
	padding: 0px;
}

#filestructure svg {
	width: var(--base-font-size);
	height: var(--base-font-size);
	margin-inline-end: calc(var(--base-gap-size) / 3);
}

#filestructure path {
	fill: var(--accent);
}

#filestructure li {
	padding-block: calc(var(--base-gap-size) / 2);
	display: flex;
	align-items: center;
	border-block-end: 1px solid var(--divider);
}

#logo {
	height: 208px;
	width: 208px;
}

#logo svg {
	width: 100%;
	height: 100%;
}

.columnPrimary .containerToolbar {
	border: none;
}

[id="switch3"] + .fakeCheckbox {
	--switch-background: var(--destructive);
}

#containerListItems [data-icon-size="fixed"]:nth-child(3) {
	--icon-size: 100px;
}

[data-setting="context7"] .contextContainerMenu {
	width: 200px;
}

#glasstest {
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	gap: var(--base-gap-size);
	justify-content: center;
	align-items: center;
	background: url(images/ui/image.jpg);
	background-size: 400px 400px;
	background-position: center center;
}

.containerMaterialExamples {
	padding: var(--base-gap-size);
	display: flex;
	flex-direction: row;
	gap: var(--base-gap-size);
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: var(--base-radius-size);
	
	&::after {
		content: '';
		width: 100%;
		height: 50%;
		background: url(images/ui/materials-background.jpg);
		background-size: cover;
		background-position: center center;
		position: absolute;
		z-index: 0;
	}
	
	& .materialStandard, 
	& .materialTinted {
		width: 150px;
		height: 300px;
		border-radius: var(--base-radius-size);
		resize: both;
		z-index: 2;
	}
	
	& .materialStandard {
		--material-tint: var(--systempanel);
	}
	
	& .materialTinted {
		--material-tint: var(--accent);
	}
}

.tableMaterials {
	& tr {
		grid-template-columns: repeat(4, 1fr)
	}
	
	& th, 
	& td {
		align-items: center;
	}
	
	& svg {
		width: calc(var(--base-font-size) * 1.5);
		height: calc(var(--base-font-size) * 1.5);
	}
	
	& button {
		display: block;
	}
}

[data-os="ios"], 
[data-os="macos"] {
	& #alert2 .buttons {
		flex-direction: column;
	}
}

.scrollviewexampleimage {
	width: 100%;
}

#exampleFilterControls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: calc(var(--base-gap-size) / 2);
}

#exampleFilter {
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--base-gap-size); */
}

.cardPerson {
	border-block-end: 1px solid var(--divider);
	padding: calc(var(--base-gap-size) / 2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: calc(var(--base-gap-size) / 2);
	
	&:last-child {
		border: none;
	}
	
	& .left {
		display: flex;
		flex-direction: row;
		gap: calc(var(--base-gap-size) / 2);
		justify-content: flex-start;
		align-items: center;
	}
	
	& .right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	& svg {
		width: 24px;
		height: 24px;
	}
	
	& path {
		fill: var(--main);
	}
	
	& h6, 
	& p {
		margin: 0px;
	}
	
	& hr {
		width: 100%;
		border: 1px solid var(--divider);
		height: 1px;
	}
}

#tableFilterSpecs tr {
	grid-template-columns: 1fr 1fr;
}

.containerGeneric {
	background: var(--background);
	border: 1px solid var(--divider);
	margin-block-end: var(--base-gap-size);
	padding: var(--base-gap-size);
}

#exampleAccordion2 path {
	fill: var(--main);
}

#exampleCopy {
	display: flex;
	flex-direction: row;
	gap: calc(var(--base-gap-size) / 2);
	
	& button {
		white-space: nowrap;
	}
}